@using Newtonsoft.Json;
@using System.IO;
<div class="container-fluid">
    <div class="content">
        <div class="row"><br /></div>
        <div class="row">


            <div class="col-12">
                <button type="button" class="btn btn-info btn-block btn-lg btn-danger" data-toggle="button" aria-pressed="true">Unit No.</button>
            </div>
        </div>

    </div>

    <div class="col-12">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="Searchbar">Search</span>
            </div>
            <input type="text" class="form-control" placeholder="Enter an ID">
        </div>

        <div class="row"><br /></div>
        @{var myStuff = JsonConvert.DeserializeObject<Data>(File.ReadAllText("./EquipmentData.json"));
        }
        <table class="table table-hover" style="width: 100%;" border="2">
            <tbody>
                <tr style="background-color: black; color:white;">
                    <th>Results</th>
                </tr>
                <tr>
                    <!----  example layout
                           <td>
                        <b>3800734</b></br>
                        3435220</br>
                        Fuel Tank</br>
                    </td>  !-->
                </tr>


                @foreach (var item in myStuff.equipmentType)
                {
                    <tr>
                        <td>
                            <b>ID -- @item.Id</b><br />
                            External ID -- @item.ExternalId<br />
                            Description -- @item.Description<br />
                        </td>
                    </tr>
                }


            </tbody>
        </table>

        <script>
            function myFunction() {
                var input;
                input = document.getElementById("Searchbar");
                filter = input.value;

                for mystuff
                            }

        </script>

    </div>



    <!-- /ko -->
